<!-- <p>use-pipes works!</p>
<h2>{{'Lavanya has a great dream job'  | uppercase }}</h2>
 <h2>{{myName | uppercase}}</h2>
 <h2>{{myName | lowercase}}</h2>
 <h2>{{myName | titlecase}}</h2>


 <p>{{title}}</p>
 <p>{{title | slice : 2}}</p>
 <p>{{title | slice : 0 : 4}}</p>
 <p>{{arr | slice : 1 : 4}}</p>


 <p>{{company | json}}</p>

<p>{{ 12.5687568 | number}}</p>
<p>{{ 12.5687568 | number : '2.1-2'}}</p>
<p>{{ 12.5687568 | number : '4.1-9'}}</p>

<p>{{2.5 | percent}}</p>
<p>{{2.5 | percent : '3.2-5'}}</p>


<p>{{12.20 | currency}}</p>
<p>{{12.20 | currency : 'INR'}}</p>


<p>{{currentDate}}</p>
<p>{{currentDate | date}}</p>
<p>{{currentDate | date : 'shortDate'}}</p>
<p>{{currentDate | date : 'longDate'}}</p>
<p>{{currentDate | date : 'fullDate'}}</p>
<p>{{currentDate | date : 'dd-MM-yy'}}</p>
<p>{{currentDate | date : 'dd/MM/yy'}}</p>
<p>{{currentDate | date : 'dd-MMM-yy'}}</p>
<p>{{currentDate | date : 'dd/MMM/yy'}}</p>


//custom pipe use -->
<h2>{{'lavanya' | welcome}}</h2>
<h2>{{myName | welcome}}</h2>

<p>{{str | limitWord : 30}}</p>